body{
    background-color: antiquewhite;
}


.mix {
  
   

    }
    
    .mix li{
    float: left;
    list-style: none;
    
    }
    
    .mix li a{
    
        display:block;
        padding:4px;
    text-decoration:  none;
    background-color: aquamarine;

    
    }

    .cad {
      
        }
        
        .cad li{
        display:inline-block; /* inline o inline-block quitan el ícono de puntos de la lista.*/
        list-style: none;
        }
        
        .cad li a{
            display:block;
        padding:4px;
        background-color: cadetblue;
        text-decoration:  none;
        }
        